[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'affcat -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=AFF Cat
Terminal=true
Type=Application
