[Desktop Entry]
Type=Application
Categories=Exploitation;
Exec=sh -c 'cd /opt/snoopgod/exploitation/beef/ && sudo ./beef; $SHELL'
Icon=/usr/share/icons/snoopgod/beef-xss.png
Name=Beef XSS
Terminal=true
Type=Application
