[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'binwalk -h; $SHELL'
Icon=/usr/share/icons/snoopgod/binwalk.png
Name=BinWalk
Terminal=true
Type=Application
