[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'bully -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Bully
Terminal=true
Type=Application
