[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'crunch --help; $SHELL'
Icon=/usr/share/icons/snoopgod/crunch.png
Name=Crunch
Terminal=true
Type=Application
