[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'dmitry; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Dmitry
Terminal=true
Type=Application
