[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'extundelete --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Extundelete
Terminal=true
Type=Application
