[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'fcrackzip --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=FCrackZip
Terminal=true
Type=Application
