[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=pkexec guymager
Icon=/usr/share/icons/snoopgod/guymager.png
Name=GuyMager
Terminal=false
Type=Application
