[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'myrescue -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=MyRescue
Terminal=true
Type=Application
