[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'o-saft --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=O-Saft
Terminal=true
Type=Application
