[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'pnscan -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=PNScan
Terminal=true
Type=Application
