[Desktop Entry]
Version=1.0
Categories=Vulnerability Analysis;
Exec=sh -c 'pocsuite -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Pocsuite
Terminal=true
Type=Application
