[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'slowhttptest -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=SlowHTTPtest
Terminal=true
Type=Application
