[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'smbmap --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=SMB Map
Terminal=true
Type=Application
