[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'xmount -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Xmount
Terminal=true
Type=Application
