[Desktop Entry]
Version=1.0
Categories=Reverse Engineering;
Exec=sh -c 'radare2 -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Radare2
Terminal=true
Type=Application
