[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'onesixtyone; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=OneSixtyone
Terminal=true
Type=Application
