[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'pasco; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Pasco
Terminal=true
Type=Application
