[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'hashdeep -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=HashDeep
Terminal=true
Type=Application
