[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'exiv2 --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Exiv2
Terminal=true
Type=Application
