[Desktop Entry]
Name=Nmap SI4 - User
Categories=Information Gathering;
Exec=nmapsi4
Icon=/usr/share/icons/snoopgod/nmapsi4.png
Terminal=false
Type=Application
