[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'medusa; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Medusa
Terminal=true
Type=Application
