[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'nasty -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Nasty
Terminal=true
Type=Application
