[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'httrack -h; $SHELL'
Icon=/usr/share/icons/snoopgod/httrack.png
Name=HTTrack
Terminal=true
Type=Application
