[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'chntpw -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Chnt-PW
Terminal=true
Type=Application
