[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'ext4magic; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Ext4magic
Terminal=true
Type=Application
