[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'fping -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Fping
Terminal=true
Type=Application
