[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'recon-ng --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Recon-NG
Terminal=true
Type=Application
