[Desktop Entry]
Version=1.0
Categories=Vulnerability Analysis;
Exec=sh -c 'dirsearch -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Dirsearch
Terminal=true
Type=Application
