[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'mfcuk -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Mfcuk
Terminal=true
Type=Application
