[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=sh -c 'websploit; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=WebSploit
Terminal=true
Type=Application
