[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'netdiscover -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=NetDiscover
Terminal=true
Type=Application
