[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'whatweb --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=WhatWeb
Terminal=true
Type=Application
