[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'dnsmap; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=DNSmap
Terminal=true
Type=Application
