[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'steghide --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=StegHide
Terminal=true
Type=Application
