[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'dsniff -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Dsniff
Terminal=true
Type=Application
