[Desktop Entry]
Version=1.0
Categories=Vulnerability Analysis;
Exec=sh -c 'sqlmap --help; $SHELL'
Icon=/usr/share/icons/snoopgod/sqlmap.png
Name=Sqlmap
Terminal=true
Type=Application
