[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'changeme --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=ChangeMe
Terminal=true
Type=Application
