[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'outguess -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Outguess
Terminal=true
Type=Application
