[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'aircrack-ng; $SHELL'
Icon=/usr/share/icons/snoopgod/aircrack-ng.png
Name=Aircrack NG
Terminal=true
Type=Application
