[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'flashrom --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Flashrom
Terminal=true
Type=Application
