[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'masscan --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Masscan
Terminal=true
Type=Application
