[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'axel --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Axel
Terminal=true
Type=Application
