[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'reaver --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Reaver
Terminal=true
Type=Application
