[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=sh -c 'weevely -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Weevely
Terminal=true
Type=Application
