[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'cryptcat -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Cryptcat
Terminal=true
Type=Application
