[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'inetsim --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Inetsim
Terminal=true
Type=Application
