[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'foremost -h; $SHELL'
Icon=/usr/share/icons/snoopgod/foremost.png
Name=Foremost
Terminal=true
Type=Application
