[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'dirb; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Dirb
Terminal=true
Type=Application
