[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'sudo arp-scan --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=ARP Scan
Terminal=true
Type=Application
