[Desktop Entry]
Version=1.0
Categories=Cracking;
TryExec=gtkhash
Exec=gtkhash %U
Icon=gtkhash
StartupNotify=true
Icon=/usr/share/icons/snoopgod/gtkhash.png
Name=GTK Hash
Terminal=false
Type=Application
