[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'miredo --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Miredo
Terminal=true
Type=Application
