[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'ifenslave -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Ifenslave
Terminal=true
Type=Application
