[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'dnswalk --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=DNSwalk
Terminal=true
Type=Application
