[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'airgraph-ng -h; $SHELL'
Icon=/usr/share/icons/snoopgod/airgraph-ng.png
Name=Airgraph NG
Terminal=true
Type=Application
