[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'gobuster -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Gobuster
Terminal=true
Type=Application
