[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'dislocker --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Dislocker
Terminal=true
Type=Application
