[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'termineter --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Termineter
Terminal=true
Type=Application
