[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'traceroute --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Traceroute
Terminal=true
Type=Application
