[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
TryExec=wireshark
Exec=wireshark %f
Icon=/usr/share/icons/snoopgod/wireshark.png
Name=Wireshark
Terminal=false
Type=Application
