[Unit]
Description=Coins4Band node handler
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/coins4band
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
