[Desktop Entry]
Name=Yoyuki
Name[bg]=Yoyuki
Name[ca]=Yoyuki
Name[ca@valencia]=Yoyuki
Name[cs]=Yoyuki
Name[da]=Yoyuki
Name[de]=Yoyuki
Name[en_GB]=Yoyuki
Name[es]=Yoyuki
Name[eu]=Yoyuki
Name[fi]=Yoyuki
Name[fr]=Yoyuki
Name[hu]=Yoyuki
Name[ia]=Yoyuki
Name[id]=Yoyuki
Name[it]=Yoyuki
Name[ja]=Yoyuki
Name[nl]=Yoyuki
Name[nn]=Yoyuki
Name[pl]=Yoyuki
Name[pt_BR]=Yoyuki
Name[ro]=Yoyuki
Name[ru]=Yoyuki
Name[sk]=Yoyuki
Name[sl]=Yoyuki
Name[sv]=Yoyuki
Name[tr]=Yoyuki
Name[uk]=Yoyuki
Name[zh_CN]=Yoyuki

X-KDE-PluginInfo-Name=Fadis
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
