[Desktop Entry]
Name=MagicKub
Name[bg]=MagicKub
Name[ca]=MagicKub
Name[ca@valencia]=MagicKub
Name[cs]=MagicKub
Name[da]=MagicKub
Name[de]=MagicKub
Name[en_GB]=MagicKub
Name[es]=MagicKub
Name[eu]=MagicKub
Name[fi]=MagicKub
Name[fr]=MagicKub
Name[hu]=MagicKub
Name[ia]=MagicKub
Name[id]=MagicKub
Name[it]=MagicKub
Name[ja]=MagicKub
Name[nl]=MagicKub
Name[nn]=MagicKub
Name[pl]=MagicKub
Name[pt_BR]=MagicKub
Name[ro]=MagicKub
Name[ru]=MagicKub
Name[sk]=MagicKub
Name[sl]=MagicKub
Name[sv]=MagicKub
Name[tr]=MagicKub
Name[uk]=MagicKub
Name[zh_CN]=MagicKub

X-KDE-PluginInfo-Name=Yehek
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
