[Desktop Entry]
Name=Thoughtpad
Name[bg]=Thoughtpad
Name[ca]=Thoughtpad
Name[ca@valencia]=Thoughtpad
Name[cs]=Thoughtpad
Name[da]=Thoughtpad
Name[de]=Thoughtpad
Name[en_GB]=Thoughtpad
Name[es]=Thoughtpad
Name[eu]=Thoughtpad
Name[fi]=Thoughtpad
Name[fr]=Thoughtpad
Name[hu]=Thoughtpad
Name[ia]=Thoughtpad
Name[id]=Thoughtpad
Name[it]=Thoughtpad
Name[ja]=Thoughtpad
Name[nl]=Thoughtpad
Name[nn]=Thoughtpad
Name[pl]=Thoughtpad
Name[pt_BR]=Thoughtpad
Name[ro]=Thoughtpad
Name[ru]=Thoughtpad
Name[sk]=Thoughtpad
Name[sl]=Thoughtpad
Name[sv]=Thoughtpad
Name[tr]=Thoughtpad
Name[uk]=Thoughtpad
Name[zh_CN]=Thoughtpad

X-KDE-PluginInfo-Name=Yehek
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
