[Desktop Entry]
Name=Yehek
Name[bg]=Yehek
Name[ca]=Yehek
Name[ca@valencia]=Yehek
Name[cs]=Yehek
Name[da]=Yehek
Name[de]=Yehek
Name[en_GB]=Yehek
Name[es]=Yehek
Name[eu]=Yehek
Name[fi]=Yehek
Name[fr]=Yehek
Name[hu]=Yehek
Name[ia]=Yehek
Name[id]=Yehek
Name[it]=Yehek
Name[ja]=Yehek
Name[nl]=Yehek
Name[nn]=Yehek
Name[pl]=Yehek
Name[pt_BR]=Yehek
Name[ro]=Yehek
Name[ru]=Yehek
Name[sk]=Yehek
Name[sl]=Yehek
Name[sv]=Yehek
Name[tr]=Yehek
Name[uk]=Yehek
Name[zh_CN]=Yehek

X-KDE-PluginInfo-Name=Yehek
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
