[Desktop Entry]
Name=Mivee
Name[bg]=Mivee
Name[ca]=Mivee
Name[ca@valencia]=Mivee
Name[cs]=Mivee
Name[da]=Mivee
Name[de]=Mivee
Name[en_GB]=Mivee
Name[es]=Mivee
Name[eu]=Mivee
Name[fi]=Mivee
Name[fr]=Mivee
Name[hu]=Mivee
Name[ia]=Mivee
Name[id]=Mivee
Name[it]=Mivee
Name[ja]=Mivee
Name[nl]=Mivee
Name[nn]=Mivee
Name[pl]=Mivee
Name[pt_BR]=Mivee
Name[ro]=Mivee
Name[ru]=Mivee
Name[sk]=Mivee
Name[sl]=Mivee
Name[sv]=Mivee
Name[tr]=Mivee
Name[uk]=Mivee
Name[zh_CN]=Mivee

X-KDE-PluginInfo-Name=Ogador
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
