[Desktop Entry]
Name=Susahi
Name[bg]=Susahi
Name[ca]=Susahi
Name[ca@valencia]=Susahi
Name[cs]=Susahi
Name[da]=Susahi
Name[de]=Susahi
Name[en_GB]=Susahi
Name[es]=Susahi
Name[eu]=Susahi
Name[fi]=Susahi
Name[fr]=Susahi
Name[hu]=Susahi
Name[ia]=Susahi
Name[id]=Susahi
Name[it]=Susahi
Name[ja]=Susahi
Name[nl]=Susahi
Name[nn]=Susahi
Name[pl]=Susahi
Name[pt_BR]=Susahi
Name[ro]=Susahi
Name[ru]=Susahi
Name[sk]=Susahi
Name[sl]=Susahi
Name[sv]=Susahi
Name[tr]=Susahi
Name[uk]=Susahi
Name[zh_CN]=Susahi

X-KDE-PluginInfo-Name=Ogador
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
