[Desktop Entry]
Name=Roope
Name[bg]=Roope
Name[ca]=Roope
Name[ca@valencia]=Roope
Name[cs]=Roope
Name[da]=Roope
Name[de]=Roope
Name[en_GB]=Roope
Name[es]=Roope
Name[eu]=Roope
Name[fi]=Roope
Name[fr]=Roope
Name[hu]=Roope
Name[ia]=Roope
Name[id]=Roope
Name[it]=Roope
Name[ja]=Roope
Name[nl]=Roope
Name[nn]=Roope
Name[pl]=Roope
Name[pt_BR]=Roope
Name[ro]=Roope
Name[ru]=Roope
Name[sk]=Roope
Name[sl]=Roope
Name[sv]=Roope
Name[tr]=Roope
Name[uk]=Roope
Name[zh_CN]=Roope

X-KDE-PluginInfo-Name=Flatqube
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
