[Desktop Entry]
Name=Jetbox
Name[bg]=Jetbox
Name[ca]=Jetbox
Name[ca@valencia]=Jetbox
Name[cs]=Jetbox
Name[da]=Jetbox
Name[de]=Jetbox
Name[en_GB]=Jetbox
Name[es]=Jetbox
Name[eu]=Jetbox
Name[fi]=Jetbox
Name[fr]=Jetbox
Name[hu]=Jetbox
Name[ia]=Jetbox
Name[id]=Jetbox
Name[it]=Jetbox
Name[ja]=Jetbox
Name[nl]=Jetbox
Name[nn]=Jetbox
Name[pl]=Jetbox
Name[pt_BR]=Jetbox
Name[ro]=Jetbox
Name[ru]=Jetbox
Name[sk]=Jetbox
Name[sl]=Jetbox
Name[sv]=Jetbox
Name[tr]=Jetbox
Name[uk]=Jetbox
Name[zh_CN]=Jetbox

X-KDE-PluginInfo-Name=Ryarxi
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
