[Desktop Entry]
Name=Milith
Name[bg]=Milith
Name[ca]=Milith
Name[ca@valencia]=Milith
Name[cs]=Milith
Name[da]=Milith
Name[de]=Milith
Name[en_GB]=Milith
Name[es]=Milith
Name[eu]=Milith
Name[fi]=Milith
Name[fr]=Milith
Name[hu]=Milith
Name[ia]=Milith
Name[id]=Milith
Name[it]=Milith
Name[ja]=Milith
Name[nl]=Milith
Name[nn]=Milith
Name[pl]=Milith
Name[pt_BR]=Milith
Name[ro]=Milith
Name[ru]=Milith
Name[sk]=Milith
Name[sl]=Milith
Name[sv]=Milith
Name[tr]=Milith
Name[uk]=Milith
Name[zh_CN]=Milith

X-KDE-PluginInfo-Name=Ryarxi
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
