[Desktop Entry]
Name=SweatDream
Name[bg]=SweatDream
Name[ca]=SweatDream
Name[ca@valencia]=SweatDream
Name[cs]=SweatDream
Name[da]=SweatDream
Name[de]=SweatDream
Name[en_GB]=SweatDream
Name[es]=SweatDream
Name[eu]=SweatDream
Name[fi]=SweatDream
Name[fr]=SweatDream
Name[hu]=SweatDream
Name[ia]=SweatDream
Name[id]=SweatDream
Name[it]=SweatDream
Name[ja]=SweatDream
Name[nl]=SweatDream
Name[nn]=SweatDream
Name[pl]=SweatDream
Name[pt_BR]=SweatDream
Name[ro]=SweatDream
Name[ru]=SweatDream
Name[sk]=SweatDream
Name[sl]=SweatDream
Name[sv]=SweatDream
Name[tr]=SweatDream
Name[uk]=SweatDream
Name[zh_CN]=SweatDream

X-KDE-PluginInfo-Name=Ryarxi
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
