[Desktop Entry]
Name=Roonder
Name[bg]=Roonder
Name[ca]=Roonder
Name[ca@valencia]=Roonder
Name[cs]=Roonder
Name[da]=Roonder
Name[de]=Roonder
Name[en_GB]=Roonder
Name[es]=Roonder
Name[eu]=Roonder
Name[fi]=Roonder
Name[fr]=Roonder
Name[hu]=Roonder
Name[ia]=Roonder
Name[id]=Roonder
Name[it]=Roonder
Name[ja]=Roonder
Name[nl]=Roonder
Name[nn]=Roonder
Name[pl]=Roonder
Name[pt_BR]=Roonder
Name[ro]=Roonder
Name[ru]=Roonder
Name[sk]=Roonder
Name[sl]=Roonder
Name[sv]=Roonder
Name[tr]=Roonder
Name[uk]=Roonder
Name[zh_CN]=Roonder

X-KDE-PluginInfo-Name=Oyodo
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
