[Desktop Entry]
Name=Abaxo
Name[bg]=Abaxo
Name[ca]=Abaxo
Name[ca@valencia]=Abaxo
Name[cs]=Abaxo
Name[da]=Abaxo
Name[de]=Abaxo
Name[en_GB]=Abaxo
Name[es]=Abaxo
Name[eu]=Abaxo
Name[fi]=Abaxo
Name[fr]=Abaxo
Name[hu]=Abaxo
Name[ia]=Abaxo
Name[id]=Abaxo
Name[it]=Abaxo
Name[ja]=Abaxo
Name[nl]=Abaxo
Name[nn]=Abaxo
Name[pl]=Abaxo
Name[pt_BR]=Abaxo
Name[ro]=Abaxo
Name[ru]=Abaxo
Name[sk]=Abaxo
Name[sl]=Abaxo
Name[sv]=Abaxo
Name[tr]=Abaxo
Name[uk]=Abaxo
Name[zh_CN]=Abaxo

X-KDE-PluginInfo-Name=Oyodo
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
