[Desktop Entry]
Name=Flowtags
Name[bg]=Flowtags
Name[ca]=Flowtags
Name[ca@valencia]=Flowtags
Name[cs]=Flowtags
Name[da]=Flowtags
Name[de]=Flowtags
Name[en_GB]=Flowtags
Name[es]=Flowtags
Name[eu]=Flowtags
Name[fi]=Flowtags
Name[fr]=Flowtags
Name[hu]=Flowtags
Name[ia]=Flowtags
Name[id]=Flowtags
Name[it]=Flowtags
Name[ja]=Flowtags
Name[nl]=Flowtags
Name[nn]=Flowtags
Name[pl]=Flowtags
Name[pt_BR]=Flowtags
Name[ro]=Flowtags
Name[ru]=Flowtags
Name[sk]=Flowtags
Name[sl]=Flowtags
Name[sv]=Flowtags
Name[tr]=Flowtags
Name[uk]=Flowtags
Name[zh_CN]=Flowtags

X-KDE-PluginInfo-Name=Gabpoint
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
