[Desktop Entry]
Name=Quable
Name[bg]=Quable
Name[ca]=Quable
Name[ca@valencia]=Quable
Name[cs]=Quable
Name[da]=Quable
Name[de]=Quable
Name[en_GB]=Quable
Name[es]=Quable
Name[eu]=Quable
Name[fi]=Quable
Name[fr]=Quable
Name[hu]=Quable
Name[ia]=Quable
Name[id]=Quable
Name[it]=Quable
Name[ja]=Quable
Name[nl]=Quable
Name[nn]=Quable
Name[pl]=Quable
Name[pt_BR]=Quable
Name[ro]=Quable
Name[ru]=Quable
Name[sk]=Quable
Name[sl]=Quable
Name[sv]=Quable
Name[tr]=Quable
Name[uk]=Quable
Name[zh_CN]=Quable

X-KDE-PluginInfo-Name=Gabpoint
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
