[Desktop Entry]
Name=Brainspan
Name[bg]=Brainspan
Name[ca]=Brainspan
Name[ca@valencia]=Brainspan
Name[cs]=Brainspan
Name[da]=Brainspan
Name[de]=Brainspan
Name[en_GB]=Brainspan
Name[es]=Brainspan
Name[eu]=Brainspan
Name[fi]=Brainspan
Name[fr]=Brainspan
Name[hu]=Brainspan
Name[ia]=Brainspan
Name[id]=Brainspan
Name[it]=Brainspan
Name[ja]=Brainspan
Name[nl]=Brainspan
Name[nn]=Brainspan
Name[pl]=Brainspan
Name[pt_BR]=Brainspan
Name[ro]=Brainspan
Name[ru]=Brainspan
Name[sk]=Brainspan
Name[sl]=Brainspan
Name[sv]=Brainspan
Name[tr]=Brainspan
Name[uk]=Brainspan
Name[zh_CN]=Brainspan

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
