[Desktop Entry]
Name=RedBubbles
Name[bg]=RedBubbles
Name[ca]=RedBubbles
Name[ca@valencia]=RedBubbles
Name[cs]=RedBubbles
Name[da]=RedBubbles
Name[de]=RedBubbles
Name[en_GB]=RedBubbles
Name[es]=RedBubbles
Name[eu]=RedBubbles
Name[fi]=RedBubbles
Name[fr]=RedBubbles
Name[hi]=RedBubbles
Name[hu]=RedBubbles
Name[ia]=RedBubbles
Name[id]=RedBubbles
Name[it]=RedBubbles
Name[ja]=RedBubbles
Name[ko]=RedBubbles
Name[nl]=RedBubbles
Name[nn]=RedBubbles
Name[pl]=RedBubbles
Name[pt_BR]=RedBubbles
Name[ro]=RedBubbles
Name[ru]=RedBubbles
Name[sk]=RedBubbles
Name[sl]=RedBubbles
Name[sv]=RedBubbles
Name[tr]=RedBubbles
Name[uk]=RedBubbles
Name[x-test]=RedBubbles
Name[zh_CN]=RedBubbles

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=SnoopGod
X-KDE-PluginInfo-Email=SnoopGod <contact@snoopgod.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
