[Desktop Entry]
Name=Aifi
Name[bg]=Aifi
Name[ca]=Aifi
Name[ca@valencia]=Aifi
Name[cs]=Aifi
Name[da]=Aifi
Name[de]=Aifi
Name[en_GB]=Aifi
Name[es]=Aifi
Name[eu]=Aifi
Name[fi]=Aifi
Name[fr]=Aifi
Name[hu]=Aifi
Name[ia]=Aifi
Name[id]=Aifi
Name[it]=Aifi
Name[ja]=Aifi
Name[nl]=Aifi
Name[nn]=Aifi
Name[pl]=Aifi
Name[pt_BR]=Aifi
Name[ro]=Aifi
Name[ru]=Aifi
Name[sk]=Aifi
Name[sl]=Aifi
Name[sv]=Aifi
Name[tr]=Aifi
Name[uk]=Aifi
Name[zh_CN]=Aifi

X-KDE-PluginInfo-Name=Oonoodle
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
