[Desktop Entry]
Name=Eavu
Name[bg]=Eavu
Name[ca]=Eavu
Name[ca@valencia]=Eavu
Name[cs]=Eavu
Name[da]=Eavu
Name[de]=Eavu
Name[en_GB]=Eavu
Name[es]=Eavu
Name[eu]=Eavu
Name[fi]=Eavu
Name[fr]=Eavu
Name[hu]=Eavu
Name[ia]=Eavu
Name[id]=Eavu
Name[it]=Eavu
Name[ja]=Eavu
Name[nl]=Eavu
Name[nn]=Eavu
Name[pl]=Eavu
Name[pt_BR]=Eavu
Name[ro]=Eavu
Name[ru]=Eavu
Name[sk]=Eavu
Name[sl]=Eavu
Name[sv]=Eavu
Name[tr]=Eavu
Name[uk]=Eavu
Name[zh_CN]=Eavu

X-KDE-PluginInfo-Name=Oonoodle
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
