[Desktop Entry]
Name=Datadog
Name[bg]=Datadog
Name[ca]=Datadog
Name[ca@valencia]=Datadog
Name[cs]=Datadog
Name[da]=Datadog
Name[de]=Datadog
Name[en_GB]=Datadog
Name[es]=Datadog
Name[eu]=Datadog
Name[fi]=Datadog
Name[fr]=Datadog
Name[hu]=Datadog
Name[ia]=Datadog
Name[id]=Datadog
Name[it]=Datadog
Name[ja]=Datadog
Name[nl]=Datadog
Name[nn]=Datadog
Name[pl]=Datadog
Name[pt_BR]=Datadog
Name[ro]=Datadog
Name[ru]=Datadog
Name[sk]=Datadog
Name[sl]=Datadog
Name[sv]=Datadog
Name[tr]=Datadog
Name[uk]=Datadog
Name[zh_CN]=Datadog

X-KDE-PluginInfo-Name=Truner
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
