[Desktop Entry]
Name=Quanu
Name[bg]=Quanu
Name[ca]=Quanu
Name[ca@valencia]=Quanu
Name[cs]=Quanu
Name[da]=Quanu
Name[de]=Quanu
Name[en_GB]=Quanu
Name[es]=Quanu
Name[eu]=Quanu
Name[fi]=Quanu
Name[fr]=Quanu
Name[hu]=Quanu
Name[ia]=Quanu
Name[id]=Quanu
Name[it]=Quanu
Name[ja]=Quanu
Name[nl]=Quanu
Name[nn]=Quanu
Name[pl]=Quanu
Name[pt_BR]=Quanu
Name[ro]=Quanu
Name[ru]=Quanu
Name[sk]=Quanu
Name[sl]=Quanu
Name[sv]=Quanu
Name[tr]=Quanu
Name[uk]=Quanu
Name[zh_CN]=Quanu

X-KDE-PluginInfo-Name=Truner
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
