[Desktop Entry]
Name=Yakiner
Name[bg]=Yakiner
Name[ca]=Yakiner
Name[ca@valencia]=Yakiner
Name[cs]=Yakiner
Name[da]=Yakiner
Name[de]=Yakiner
Name[en_GB]=Yakiner
Name[es]=Yakiner
Name[eu]=Yakiner
Name[fi]=Yakiner
Name[fr]=Yakiner
Name[hu]=Yakiner
Name[ia]=Yakiner
Name[id]=Yakiner
Name[it]=Yakiner
Name[ja]=Yakiner
Name[nl]=Yakiner
Name[nn]=Yakiner
Name[pl]=Yakiner
Name[pt_BR]=Yakiner
Name[ro]=Yakiner
Name[ru]=Yakiner
Name[sk]=Yakiner
Name[sl]=Yakiner
Name[sv]=Yakiner
Name[tr]=Yakiner
Name[uk]=Yakiner
Name[zh_CN]=Yakiner

X-KDE-PluginInfo-Name=Piable
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
