[Desktop Entry]
Name=Rooya
Name[bg]=Rooya
Name[ca]=Rooya
Name[ca@valencia]=Rooya
Name[cs]=Rooya
Name[da]=Rooya
Name[de]=Rooya
Name[en_GB]=Rooya
Name[es]=Rooya
Name[eu]=Rooya
Name[fi]=Rooya
Name[fr]=Rooya
Name[hu]=Rooya
Name[ia]=Rooya
Name[id]=Rooya
Name[it]=Rooya
Name[ja]=Rooya
Name[nl]=Rooya
Name[nn]=Rooya
Name[pl]=Rooya
Name[pt_BR]=Rooya
Name[ro]=Rooya
Name[ru]=Rooya
Name[sk]=Rooya
Name[sl]=Rooya
Name[sv]=Rooya
Name[tr]=Rooya
Name[uk]=Rooya
Name[zh_CN]=Rooya

X-KDE-PluginInfo-Name=Piable
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
