[Desktop Entry]
Name=Pixoci
Name[bg]=Pixoci
Name[ca]=Pixoci
Name[ca@valencia]=Pixoci
Name[cs]=Pixoci
Name[da]=Pixoci
Name[de]=Pixoci
Name[en_GB]=Pixoci
Name[es]=Pixoci
Name[eu]=Pixoci
Name[fi]=Pixoci
Name[fr]=Pixoci
Name[hu]=Pixoci
Name[ia]=Pixoci
Name[id]=Pixoci
Name[it]=Pixoci
Name[ja]=Pixoci
Name[nl]=Pixoci
Name[nn]=Pixoci
Name[pl]=Pixoci
Name[pt_BR]=Pixoci
Name[ro]=Pixoci
Name[ru]=Pixoci
Name[sk]=Pixoci
Name[sl]=Pixoci
Name[sv]=Pixoci
Name[tr]=Pixoci
Name[uk]=Pixoci
Name[zh_CN]=Pixoci

X-KDE-PluginInfo-Name=Hewinea
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
