[Desktop Entry]
Name=Runish
Name[bg]=Runish
Name[ca]=Runish
Name[ca@valencia]=Runish
Name[cs]=Runish
Name[da]=Runish
Name[de]=Runish
Name[en_GB]=Runish
Name[es]=Runish
Name[eu]=Runish
Name[fi]=Runish
Name[fr]=Runish
Name[hu]=Runish
Name[ia]=Runish
Name[id]=Runish
Name[it]=Runish
Name[ja]=Runish
Name[nl]=Runish
Name[nn]=Runish
Name[pl]=Runish
Name[pt_BR]=Runish
Name[ro]=Runish
Name[ru]=Runish
Name[sk]=Runish
Name[sl]=Runish
Name[sv]=Runish
Name[tr]=Runish
Name[uk]=Runish
Name[zh_CN]=Runish

X-KDE-PluginInfo-Name=Hewinea
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
