[Desktop Entry]
Name=Jare
Name[bg]=Jare
Name[ca]=Jare
Name[ca@valencia]=Jare
Name[cs]=Jare
Name[da]=Jare
Name[de]=Jare
Name[en_GB]=Jare
Name[es]=Jare
Name[eu]=Jare
Name[fi]=Jare
Name[fr]=Jare
Name[hu]=Jare
Name[ia]=Jare
Name[id]=Jare
Name[it]=Jare
Name[ja]=Jare
Name[nl]=Jare
Name[nn]=Jare
Name[pl]=Jare
Name[pt_BR]=Jare
Name[ro]=Jare
Name[ru]=Jare
Name[sk]=Jare
Name[sl]=Jare
Name[sv]=Jare
Name[tr]=Jare
Name[uk]=Jare
Name[zh_CN]=Jare

X-KDE-PluginInfo-Name=Hewinea
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
