[Desktop Entry]
Name=Flateos
Name[bg]=Flateos
Name[ca]=Flateos
Name[ca@valencia]=Flateos
Name[cs]=Flateos
Name[da]=Flateos
Name[de]=Flateos
Name[en_GB]=Flateos
Name[es]=Flateos
Name[eu]=Flateos
Name[fi]=Flateos
Name[fr]=Flateos
Name[hu]=Flateos
Name[ia]=Flateos
Name[id]=Flateos
Name[it]=Flateos
Name[ja]=Flateos
Name[nl]=Flateos
Name[nn]=Flateos
Name[pl]=Flateos
Name[pt_BR]=Flateos
Name[ro]=Flateos
Name[ru]=Flateos
Name[sk]=Flateos
Name[sl]=Flateos
Name[sv]=Flateos
Name[tr]=Flateos
Name[uk]=Flateos
Name[zh_CN]=Flateos

X-KDE-PluginInfo-Name=Izazu
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
