[Desktop Entry]
Name=Yakitri
Name[bg]=Yakitri
Name[ca]=Yakitri
Name[ca@valencia]=Yakitri
Name[cs]=Yakitri
Name[da]=Yakitri
Name[de]=Yakitri
Name[en_GB]=Yakitri
Name[es]=Yakitri
Name[eu]=Yakitri
Name[fi]=Yakitri
Name[fr]=Yakitri
Name[hu]=Yakitri
Name[ia]=Yakitri
Name[id]=Yakitri
Name[it]=Yakitri
Name[ja]=Yakitri
Name[nl]=Yakitri
Name[nn]=Yakitri
Name[pl]=Yakitri
Name[pt_BR]=Yakitri
Name[ro]=Yakitri
Name[ru]=Yakitri
Name[sk]=Yakitri
Name[sl]=Yakitri
Name[sv]=Yakitri
Name[tr]=Yakitri
Name[uk]=Yakitri
Name[zh_CN]=Yakitri

X-KDE-PluginInfo-Name=Fivecube
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
