[Desktop Entry]
Name=Chatvine
Name[bg]=Chatvine
Name[ca]=Chatvine
Name[ca@valencia]=Chatvine
Name[cs]=Chatvine
Name[da]=Chatvine
Name[de]=Chatvine
Name[en_GB]=Chatvine
Name[es]=Chatvine
Name[eu]=Chatvine
Name[fi]=Chatvine
Name[fr]=Chatvine
Name[hu]=Chatvine
Name[ia]=Chatvine
Name[id]=Chatvine
Name[it]=Chatvine
Name[ja]=Chatvine
Name[nl]=Chatvine
Name[nn]=Chatvine
Name[pl]=Chatvine
Name[pt_BR]=Chatvine
Name[ro]=Chatvine
Name[ru]=Chatvine
Name[sk]=Chatvine
Name[sl]=Chatvine
Name[sv]=Chatvine
Name[tr]=Chatvine
Name[uk]=Chatvine
Name[zh_CN]=Chatvine

X-KDE-PluginInfo-Name=Fivecube
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
