[Desktop Entry]
Name=Chatterbook
Name[bg]=Chatterbook
Name[ca]=Chatterbook
Name[ca@valencia]=Chatterbook
Name[cs]=Chatterbook
Name[da]=Chatterbook
Name[de]=Chatterbook
Name[en_GB]=Chatterbook
Name[es]=Chatterbook
Name[eu]=Chatterbook
Name[fi]=Chatterbook
Name[fr]=Chatterbook
Name[hu]=Chatterbook
Name[ia]=Chatterbook
Name[id]=Chatterbook
Name[it]=Chatterbook
Name[ja]=Chatterbook
Name[nl]=Chatterbook
Name[nn]=Chatterbook
Name[pl]=Chatterbook
Name[pt_BR]=Chatterbook
Name[ro]=Chatterbook
Name[ru]=Chatterbook
Name[sk]=Chatterbook
Name[sl]=Chatterbook
Name[sv]=Chatterbook
Name[tr]=Chatterbook
Name[uk]=Chatterbook
Name[zh_CN]=Chatterbook

X-KDE-PluginInfo-Name=Tekfox
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
