[Desktop Entry]
Name=Liveopia
Name[bg]=Liveopia
Name[ca]=Liveopia
Name[ca@valencia]=Liveopia
Name[cs]=Liveopia
Name[da]=Liveopia
Name[de]=Liveopia
Name[en_GB]=Liveopia
Name[es]=Liveopia
Name[eu]=Liveopia
Name[fi]=Liveopia
Name[fr]=Liveopia
Name[hu]=Liveopia
Name[ia]=Liveopia
Name[id]=Liveopia
Name[it]=Liveopia
Name[ja]=Liveopia
Name[nl]=Liveopia
Name[nn]=Liveopia
Name[pl]=Liveopia
Name[pt_BR]=Liveopia
Name[ro]=Liveopia
Name[ru]=Liveopia
Name[sk]=Liveopia
Name[sl]=Liveopia
Name[sv]=Liveopia
Name[tr]=Liveopia
Name[uk]=Liveopia
Name[zh_CN]=Liveopia

X-KDE-PluginInfo-Name=Tekfox
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
