[Desktop Entry]
Name=Equiteo
Name[bg]=Equiteo
Name[ca]=Equiteo
Name[ca@valencia]=Equiteo
Name[cs]=Equiteo
Name[da]=Equiteo
Name[de]=Equiteo
Name[en_GB]=Equiteo
Name[es]=Equiteo
Name[eu]=Equiteo
Name[fi]=Equiteo
Name[fr]=Equiteo
Name[hu]=Equiteo
Name[ia]=Equiteo
Name[id]=Equiteo
Name[it]=Equiteo
Name[ja]=Equiteo
Name[nl]=Equiteo
Name[nn]=Equiteo
Name[pl]=Equiteo
Name[pt_BR]=Equiteo
Name[ro]=Equiteo
Name[ru]=Equiteo
Name[sk]=Equiteo
Name[sl]=Equiteo
Name[sv]=Equiteo
Name[tr]=Equiteo
Name[uk]=Equiteo
Name[zh_CN]=Equiteo

X-KDE-PluginInfo-Name=Kwerde
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
