[Desktop Entry]
Name=Divaveo
Name[bg]=Divaveo
Name[ca]=Divaveo
Name[ca@valencia]=Divaveo
Name[cs]=Divaveo
Name[da]=Divaveo
Name[de]=Divaveo
Name[en_GB]=Divaveo
Name[es]=Divaveo
Name[eu]=Divaveo
Name[fi]=Divaveo
Name[fr]=Divaveo
Name[hu]=Divaveo
Name[ia]=Divaveo
Name[id]=Divaveo
Name[it]=Divaveo
Name[ja]=Divaveo
Name[nl]=Divaveo
Name[nn]=Divaveo
Name[pl]=Divaveo
Name[pt_BR]=Divaveo
Name[ro]=Divaveo
Name[ru]=Divaveo
Name[sk]=Divaveo
Name[sl]=Divaveo
Name[sv]=Divaveo
Name[tr]=Divaveo
Name[uk]=Divaveo
Name[zh_CN]=Divaveo

X-KDE-PluginInfo-Name=Kwerde
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
