[Desktop Entry]
Name=Jetfeed
Name[bg]=Jetfeed
Name[ca]=Jetfeed
Name[ca@valencia]=Jetfeed
Name[cs]=Jetfeed
Name[da]=Jetfeed
Name[de]=Jetfeed
Name[en_GB]=Jetfeed
Name[es]=Jetfeed
Name[eu]=Jetfeed
Name[fi]=Jetfeed
Name[fr]=Jetfeed
Name[hu]=Jetfeed
Name[ia]=Jetfeed
Name[id]=Jetfeed
Name[it]=Jetfeed
Name[ja]=Jetfeed
Name[nl]=Jetfeed
Name[nn]=Jetfeed
Name[pl]=Jetfeed
Name[pt_BR]=Jetfeed
Name[ro]=Jetfeed
Name[ru]=Jetfeed
Name[sk]=Jetfeed
Name[sl]=Jetfeed
Name[sv]=Jetfeed
Name[tr]=Jetfeed
Name[uk]=Jetfeed
Name[zh_CN]=Jetfeed

X-KDE-PluginInfo-Name=Kwerde
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
