[Desktop Entry]
Name=Darkoid
Name[bg]=Darkoid
Name[ca]=Darkoid
Name[ca@valencia]=Darkoid
Name[cs]=Darkoid
Name[da]=Darkoid
Name[de]=Darkoid
Name[en_GB]=Darkoid
Name[es]=Darkoid
Name[eu]=Darkoid
Name[fi]=Darkoid
Name[fr]=Darkoid
Name[hu]=Darkoid
Name[ia]=Darkoid
Name[id]=Darkoid
Name[it]=Darkoid
Name[ja]=Darkoid
Name[nl]=Darkoid
Name[nn]=Darkoid
Name[pl]=Darkoid
Name[pt_BR]=Darkoid
Name[ro]=Darkoid
Name[ru]=Darkoid
Name[sk]=Darkoid
Name[sl]=Darkoid
Name[sv]=Darkoid
Name[tr]=Darkoid
Name[uk]=Darkoid
Name[zh_CN]=Darkoid

X-KDE-PluginInfo-Name=Lilawe
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
