[Desktop Entry]
Name=Camine
Name[bg]=Camine
Name[ca]=Camine
Name[ca@valencia]=Camine
Name[cs]=Camine
Name[da]=Camine
Name[de]=Camine
Name[en_GB]=Camine
Name[es]=Camine
Name[eu]=Camine
Name[fi]=Camine
Name[fr]=Camine
Name[hu]=Camine
Name[ia]=Camine
Name[id]=Camine
Name[it]=Camine
Name[ja]=Camine
Name[nl]=Camine
Name[nn]=Camine
Name[pl]=Camine
Name[pt_BR]=Camine
Name[ro]=Camine
Name[ru]=Camine
Name[sk]=Camine
Name[sl]=Camine
Name[sv]=Camine
Name[tr]=Camine
Name[uk]=Camine
Name[zh_CN]=Camine

X-KDE-PluginInfo-Name=lilawe
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
