[Desktop Entry]
Name=Rifffeed
Name[bg]=Rifffeed
Name[ca]=Rifffeed
Name[ca@valencia]=Rifffeed
Name[cs]=Rifffeed
Name[da]=Rifffeed
Name[de]=Rifffeed
Name[en_GB]=Rifffeed
Name[es]=Rifffeed
Name[eu]=Rifffeed
Name[fi]=Rifffeed
Name[fr]=Rifffeed
Name[hu]=Rifffeed
Name[ia]=Rifffeed
Name[id]=Rifffeed
Name[it]=Rifffeed
Name[ja]=Rifffeed
Name[nl]=Rifffeed
Name[nn]=Rifffeed
Name[pl]=Rifffeed
Name[pt_BR]=Rifffeed
Name[ro]=Rifffeed
Name[ru]=Rifffeed
Name[sk]=Rifffeed
Name[sl]=Rifffeed
Name[sv]=Rifffeed
Name[tr]=Rifffeed
Name[uk]=Rifffeed
Name[zh_CN]=Rifffeed

X-KDE-PluginInfo-Name=lilawe
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
