[Desktop Entry]
Name=Pixotz
Name[bg]=Pixotz
Name[ca]=Pixotz
Name[ca@valencia]=Pixotz
Name[cs]=Pixotz
Name[da]=Pixotz
Name[de]=Pixotz
Name[en_GB]=Pixotz
Name[es]=Pixotz
Name[eu]=Pixotz
Name[fi]=Pixotz
Name[fr]=Pixotz
Name[hu]=Pixotz
Name[ia]=Pixotz
Name[id]=Pixotz
Name[it]=Pixotz
Name[ja]=Pixotz
Name[nl]=Pixotz
Name[nn]=Pixotz
Name[pl]=Pixotz
Name[pt_BR]=Pixotz
Name[ro]=Pixotz
Name[ru]=Pixotz
Name[sk]=Pixotz
Name[sl]=Pixotz
Name[sv]=Pixotz
Name[tr]=Pixotz
Name[uk]=Pixotz
Name[zh_CN]=Pixotz

X-KDE-PluginInfo-Name=Kanyx
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
