[Desktop Entry]
Name=Oyo
Name[bg]=Oyo
Name[ca]=Oyo
Name[ca@valencia]=Oyo
Name[cs]=Oyo
Name[da]=Oyo
Name[de]=Oyo
Name[en_GB]=Oyo
Name[es]=Oyo
Name[eu]=Oyo
Name[fi]=Oyo
Name[fr]=Oyo
Name[hu]=Oyo
Name[ia]=Oyo
Name[id]=Oyo
Name[it]=Oyo
Name[ja]=Oyo
Name[nl]=Oyo
Name[nn]=Oyo
Name[pl]=Oyo
Name[pt_BR]=Oyo
Name[ro]=Oyo
Name[ru]=Oyo
Name[sk]=Oyo
Name[sl]=Oyo
Name[sv]=Oyo
Name[tr]=Oyo
Name[uk]=Oyo
Name[zh_CN]=Oyo

X-KDE-PluginInfo-Name=Kanyx
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
