[Desktop Entry]
Name=Kwateo
Name[bg]=Kwateo
Name[ca]=Kwateo
Name[ca@valencia]=Kwateo
Name[cs]=Kwateo
Name[da]=Kwateo
Name[de]=Kwateo
Name[en_GB]=Kwateo
Name[es]=Kwateo
Name[eu]=Kwateo
Name[fi]=Kwateo
Name[fr]=Kwateo
Name[hu]=Kwateo
Name[ia]=Kwateo
Name[id]=Kwateo
Name[it]=Kwateo
Name[ja]=Kwateo
Name[nl]=Kwateo
Name[nn]=Kwateo
Name[pl]=Kwateo
Name[pt_BR]=Kwateo
Name[ro]=Kwateo
Name[ru]=Kwateo
Name[sk]=Kwateo
Name[sl]=Kwateo
Name[sv]=Kwateo
Name[tr]=Kwateo
Name[uk]=Kwateo
Name[zh_CN]=Kwateo

X-KDE-PluginInfo-Name=Yonequ
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
