[Desktop Entry]
Name=Pixoble
Name[bg]=Pixoble
Name[ca]=Pixoble
Name[ca@valencia]=Pixoble
Name[cs]=Pixoble
Name[da]=Pixoble
Name[de]=Pixoble
Name[en_GB]=Pixoble
Name[es]=Pixoble
Name[eu]=Pixoble
Name[fi]=Pixoble
Name[fr]=Pixoble
Name[hu]=Pixoble
Name[ia]=Pixoble
Name[id]=Pixoble
Name[it]=Pixoble
Name[ja]=Pixoble
Name[nl]=Pixoble
Name[nn]=Pixoble
Name[pl]=Pixoble
Name[pt_BR]=Pixoble
Name[ro]=Pixoble
Name[ru]=Pixoble
Name[sk]=Pixoble
Name[sl]=Pixoble
Name[sv]=Pixoble
Name[tr]=Pixoble
Name[uk]=Pixoble
Name[zh_CN]=Pixoble

X-KDE-PluginInfo-Name=Yonequ
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
