[Desktop Entry]
Name=Yonequ
Name[bg]=Yonequ
Name[ca]=Yonequ
Name[ca@valencia]=Yonequ
Name[cs]=Yonequ
Name[da]=Yonequ
Name[de]=Yonequ
Name[en_GB]=Yonequ
Name[es]=Yonequ
Name[eu]=Yonequ
Name[fi]=Yonequ
Name[fr]=Yonequ
Name[hu]=Yonequ
Name[ia]=Yonequ
Name[id]=Yonequ
Name[it]=Yonequ
Name[ja]=Yonequ
Name[nl]=Yonequ
Name[nn]=Yonequ
Name[pl]=Yonequ
Name[pt_BR]=Yonequ
Name[ro]=Yonequ
Name[ru]=Yonequ
Name[sk]=Yonequ
Name[sl]=Yonequ
Name[sv]=Yonequ
Name[tr]=Yonequ
Name[uk]=Yonequ
Name[zh_CN]=Yonequ

X-KDE-PluginInfo-Name=Yonequ
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
