[Desktop Entry]
Categories=KDE;System;
Comment=
Exec=/usr/share/apport/apport-kde -f
Icon=apport
Name=Report Problem
NoDisplay=false
OnlyShowIn=KDE;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=apport
