[Desktop Entry]
Categories=GNOME;GTK;Utility;
Comment=
Exec=cherrytree %f
Icon=cherrytree
Keywords=editor;notes;note-taking;
MimeType=application/cherrytree-ctd;application/cherrytree-ctz;application/cherrytree-ctb;application/cherrytree-ctx;
Name=CherryTree
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Purism-FormFactor=Workstation;Mobile;
