[Desktop Entry]
Categories=Utility;HamRadio
Comment=
Exec=chirpw %F
GenericName=
Icon=chirp
Keywords=Hamradio;Programming;Handheld;Radio;Amateur;Programmer
Name=CHIRP
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
