[Desktop Entry]
Categories=Qt;Development;GUIDesigner;
Comment=
Exec=/usr/lib/qt5/bin/designer %F
GenericName=Interface Designer
Icon=designer-qt5
MimeType=application/x-designer;
Name=QT5 Designer
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
