[Desktop Entry]
Categories=System;
Comment=
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/firmware-updater_firmware-updater.desktop /snap/bin/firmware-updater
Icon=/snap/firmware-updater/127/meta/gui/icon.png
Keywords=firmware;
Name=Firmware Updater
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SnapInstanceName=firmware-updater
