[Desktop Entry]
Categories=Network
Comment=
Exec=fwbuilder %F
GenericName=
Icon=/usr/share/pixmaps/fwbuilder/firewall_64.xpm
MimeType=text/x-xml-fwbuilder;
Name=Firewall Builder
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
