[Desktop Entry]
Categories=Development;HamRadio;Science;
Comment=
Exec=gnuradio-companion %F
Icon=gnuradio-grc
Keywords=SDR;Radio;HAM;RF;
MimeType=application/gnuradio-grc;
Name=GNU Radio Companion
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=gnuradio-companion
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
