[Desktop Entry]
Categories=Qt;Development;Translation;
Comment=
Exec=/usr/lib/qt5/bin/linguist %F
GenericName=
Icon=linguist-qt5
MimeType=application/x-linguist;
Name=QT5 Linguist
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
