[Desktop Action ConfigureJava]
Exec=/usr/bin/maltego_java_config
Name=Configure Java

[Desktop Action ShowWebsite]
Exec=x-www-browser https://www.maltego.com
Name=Maltego Website

[Desktop Entry]
Actions=ConfigureJava;ShowWebsite;
Comment=
Exec=/usr/bin/maltego
GenericName=
Icon=maltego
Name=Maltego
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=4.6.0
X-KDE-SubstituteUID=false
X-KDE-Username=
