[Desktop Entry]
Categories=Utility;Security;Qt;
Comment=
Exec=keepassxc %f
GenericName=
Icon=keepassxc
MimeType=application/x-keepass2;
Name=KeePassXC
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=keepassxc
Terminal=false
TerminalOptions=
TryExec=keepassxc
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
