[Desktop Entry]
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
Comment=
Exec=ark %U
GenericName=
Icon=ark
InitialPreference=3
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/vnd.debian.binary-package;application/x-deb;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/x-7z-compressed;application/zip;application/x-java-archive;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;application/x-lha;
Name=Ark
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=ark
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.ark
X-DBUS-StartupType=Multi
X-DocPath=ark/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
