[Desktop Entry]
Categories=GNOME;GTK;Development;
Comment=
Exec=ghex %F
GenericName=
Icon=org.gnome.GHex
Keywords=binary;debug;hexadecimal;
Name=GHex
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
