[Desktop Entry]
Categories=Qt;KDE;Core;
Comment=
Exec=khelpcenter %u
GenericName=
Icon=help-browser
MimeType=x-scheme-handler/help;x-scheme-handler/man;x-scheme-handler/info;
Name=Help
NoDisplay=false
OnlyShowIn=KDE;
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.Help
X-DocPath=khelpcenter/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
