[Desktop Entry]
Categories=System;Filesystem;KDE;Qt;
Comment=
Exec=partitionmanager
GenericName=
Icon=partitionmanager
Keywords=partition;disk;
Name=KDE Partition Manager
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
