[Desktop Entry]
Categories=Qt;KDE;System;
Comment=
Exec=plasma-systemmonitor
GenericName=
Icon=utilities-system-monitor
Keywords=task;manager;process;cpu;memory;
Name=System Monitor
NoDisplay=false
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
