[Desktop Action NewTab]
Exec=konsole --new-tab
Icon=tab-new
Name=Open a New Tab

[Desktop Action NewWindow]
Exec=konsole
Icon=window-new
Name=Open a New Window

[Desktop Entry]
Actions=NewWindow;NewTab;
Categories=Qt;KDE;System;TerminalEmulator;
Comment=
Exec=konsole
GenericName=
Icon=utilities-terminal
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh
Name=Konsole
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=konsole
Terminal=false
TerminalOptions=
TryExec=konsole
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
X-KDE-SubstituteUID=false
X-KDE-Username=
