[Desktop Entry]
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;Settings;HardwareSettings;
Comment=
DBusActivatable=true
Exec=gnome-disks
Icon=org.gnome.DiskUtility
Keywords=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Name=Disks
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Purism-FormFactor=Workstation;Mobile;
X-Ubuntu-Gettext-Domain=gnome-disk-utility
