[Desktop Entry]
Categories=Development;IDE;Qt;
Comment=
Exec=qtcreator %F
GenericName=C++ IDE for developing Qt applications
Icon=QtProject-qtcreator
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.qt.qmakeprofile;application/vnd.qt.xml.resource;
Name=QT Creator
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=qtcreator
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
