[Desktop Entry]
Categories=Qt;KDE;Network;
Comment=
Exec=kdeconnect-handler --open %U
GenericName=
Icon=kdeconnect
MimeType=application/octet-stream;
Name=KDE Connect Device
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Service
X-KDE-FormFactor=desktop;tablet;handset;
X-KDE-SubstituteUID=false
X-KDE-Username=
