[Desktop Action Updates]
Exec=plasma-discover --mode update
Icon=update-low
Name=See Available Updates

[Desktop Entry]
Actions=Updates;
Categories=Qt;KDE;System;
Comment=
Exec=plasma-discover %F
GenericName=
Icon=plasmadiscover
InitialPreference=5
Keywords=program;software;repository;package;add;install;uninstall;remove;update;apps;applications;games;flatpak;snap;addons;add-ons;firmware;
MimeType=application/vnd.debian.binary-package;application/vnd.flatpak;application/vnd.flatpak.repo;application/vnd.flatpak.ref;
Name=Discover
NoDisplay=false
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=plasma-discover/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
