[Desktop Entry]
Categories=Network;
Comment=
Exec=protonvpn-app
Icon=proton-vpn-logo
Name=Proton VPN
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=Protonvpn
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
