[Desktop Entry]
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
Comment=
Exec=software-properties-gtk
GenericName=
Icon=software-properties
Keywords=Drivers;Repositories;Repository;PPA;
MimeType=text/x-apt-sources-list;
Name=Software & Updates
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-Settings-Panel=software-properties
X-KDE-SubstituteUID=true
X-KDE-Username=
X-MultipleArgs=false
X-Ubuntu-Gettext-Domain=software-properties
X-Unity-Settings-Panel=software-properties
