[Desktop Entry]
Categories=PackageManager;GTK;System;Settings;
Comment=
Exec=synaptic-pkexec
GenericName=
Icon=synaptic
Name=Synaptic Package Manager
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=synaptic
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=synaptic
