[Desktop Action kcm-kscreen]
Exec=systemsettings kcm_kscreen
Icon=preferences-desktop-display-randr
Name=Display Configuration

[Desktop Action kcm-lookandfeel]
Exec=systemsettings kcm_lookandfeel
Icon=preferences-desktop-theme-global
Name=Global Theme

[Desktop Action kcm-users]
Exec=systemsettings kcm_users
Icon=preferences-system-users
Name=Users

[Desktop Action powerdevilprofilesconfig]
Exec=systemsettings powerdevilprofilesconfig
Icon=preferences-system-power-management
Name=Energy Saving

[Desktop Action screenlocker]
Exec=systemsettings screenlocker
Icon=preferences-desktop-user-password
Name=Screen Locking

[Desktop Entry]
Actions=kcm-lookandfeel;kcm-users;screenlocker;powerdevilprofilesconfig;kcm-kscreen;
Categories=Qt;KDE;Settings;
Comment=
Exec=systemsettings
GenericName=
Icon=preferences-system
Name=System Settings
NoDisplay=false
OnlyShowIn=KDE;
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.systemsettings
X-DBUS-StartupType=Unique
X-DocPath=systemsettings/index.html
X-KDE-Shortcuts=Tools
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
