[Desktop Action quit]
Exec=~/.telegram/Telegram -quit
Icon=application-exit
Name=Quit Telegram

[Desktop Entry]
Actions=quit;
Categories=Chat;Network;InstantMessaging;Qt;
Comment=
DBusActivatable=true
Exec=~/.telegram/Telegram -- %u
Icon=telegram
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
MimeType=x-scheme-handler/tg;
Name=Telegram Desktop
NoDisplay=false
Path=
SingleMainWindow=true
StartupNotify=true
StartupWMClass=TelegramDesktop
Terminal=false
TerminalOptions=
TryExec=~/.telegram/Telegram
Type=Application
X-GNOME-SingleWindow=true
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
