[Desktop Entry]
Categories=System;KDE;Qt;
Comment=
Exec=usb-creator-kde
GenericName=
Icon=usb-creator-kde
Name=Startup Disk Creator
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=usbcreator
