[Desktop Entry]
Categories=Utility;TextEditor;
Comment=
Exec=vim %F
GenericName=
Icon=gvim
Keywords=Text;editor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Name=Vim
NoDisplay=false
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
TryExec=vim
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
