[Desktop Entry]
Name=Hypertac
Name[bg]=Hypertac
Name[ca]=Hypertac
Name[ca@valencia]=Hypertac
Name[cs]=Hypertac
Name[da]=Hypertac
Name[de]=Hypertac
Name[en_GB]=Hypertac
Name[es]=Hypertac
Name[eu]=Hypertac
Name[fi]=Hypertac
Name[fr]=Hypertac
Name[hu]=Hypertac
Name[ia]=Hypertac
Name[id]=Hypertac
Name[it]=Hypertac
Name[ja]=Hypertac
Name[nl]=Hypertac
Name[nn]=Hypertac
Name[pl]=Hypertac
Name[pt_BR]=Hypertac
Name[ro]=Hypertac
Name[ru]=Hypertac
Name[sk]=Hypertac
Name[sl]=Hypertac
Name[sv]=Hypertac
Name[tr]=Hypertac
Name[uk]=Hypertac
Name[zh_CN]=Hypertac

X-KDE-PluginInfo-Name=Todips
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
