[Desktop Entry]
Name=Quanoodle
Name[bg]=Quanoodle
Name[ca]=Quanoodle
Name[ca@valencia]=Quanoodle
Name[cs]=Quanoodle
Name[da]=Quanoodle
Name[de]=Quanoodle
Name[en_GB]=Quanoodle
Name[es]=Quanoodle
Name[eu]=Quanoodle
Name[fi]=Quanoodle
Name[fr]=Quanoodle
Name[hu]=Quanoodle
Name[ia]=Quanoodle
Name[id]=Quanoodle
Name[it]=Quanoodle
Name[ja]=Quanoodle
Name[nl]=Quanoodle
Name[nn]=Quanoodle
Name[pl]=Quanoodle
Name[pt_BR]=Quanoodle
Name[ro]=Quanoodle
Name[ru]=Quanoodle
Name[sk]=Quanoodle
Name[sl]=Quanoodle
Name[sv]=Quanoodle
Name[tr]=Quanoodle
Name[uk]=Quanoodle
Name[zh_CN]=Quanoodle

X-KDE-PluginInfo-Name=Todips
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
