[Desktop Entry]
Name=Kizzy
Name[bg]=Kizzy
Name[ca]=Kizzy
Name[ca@valencia]=Kizzy
Name[cs]=Kizzy
Name[da]=Kizzy
Name[de]=Kizzy
Name[en_GB]=Kizzy
Name[es]=Kizzy
Name[eu]=Kizzy
Name[fi]=Kizzy
Name[fr]=Kizzy
Name[hu]=Kizzy
Name[ia]=Kizzy
Name[id]=Kizzy
Name[it]=Kizzy
Name[ja]=Kizzy
Name[nl]=Kizzy
Name[nn]=Kizzy
Name[pl]=Kizzy
Name[pt_BR]=Kizzy
Name[ro]=Kizzy
Name[ru]=Kizzy
Name[sk]=Kizzy
Name[sl]=Kizzy
Name[sv]=Kizzy
Name[tr]=Kizzy
Name[uk]=Kizzy
Name[zh_CN]=Kizzy

X-KDE-PluginInfo-Name=Todips
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
