[Desktop Entry]
Name=Wikizu
Name[bg]=Wikizu
Name[ca]=Wikizu
Name[ca@valencia]=Wikizu
Name[cs]=Wikizu
Name[da]=Wikizu
Name[de]=Wikizu
Name[en_GB]=Wikizu
Name[es]=Wikizu
Name[eu]=Wikizu
Name[fi]=Wikizu
Name[fr]=Wikizu
Name[hu]=Wikizu
Name[ia]=Wikizu
Name[id]=Wikizu
Name[it]=Wikizu
Name[ja]=Wikizu
Name[nl]=Wikizu
Name[nn]=Wikizu
Name[pl]=Wikizu
Name[pt_BR]=Wikizu
Name[ro]=Wikizu
Name[ru]=Wikizu
Name[sk]=Wikizu
Name[sl]=Wikizu
Name[sv]=Wikizu
Name[tr]=Wikizu
Name[uk]=Wikizu
Name[zh_CN]=Wikizu

X-KDE-PluginInfo-Name=Fazu
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
