[Desktop Entry]
Name=Centita
Name[bg]=Centita
Name[ca]=Centita
Name[ca@valencia]=Centita
Name[cs]=Centita
Name[da]=Centita
Name[de]=Centita
Name[en_GB]=Centita
Name[es]=Centita
Name[eu]=Centita
Name[fi]=Centita
Name[fr]=Centita
Name[hu]=Centita
Name[ia]=Centita
Name[id]=Centita
Name[it]=Centita
Name[ja]=Centita
Name[nl]=Centita
Name[nn]=Centita
Name[pl]=Centita
Name[pt_BR]=Centita
Name[ro]=Centita
Name[ru]=Centita
Name[sk]=Centita
Name[sl]=Centita
Name[sv]=Centita
Name[tr]=Centita
Name[uk]=Centita
Name[zh_CN]=Centita

X-KDE-PluginInfo-Name=Fazu
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
