[Desktop Entry]
Name=Wikinte
Name[bg]=Wikinte
Name[ca]=Wikinte
Name[ca@valencia]=Wikinte
Name[cs]=Wikinte
Name[da]=Wikinte
Name[de]=Wikinte
Name[en_GB]=Wikinte
Name[es]=Wikinte
Name[eu]=Wikinte
Name[fi]=Wikinte
Name[fr]=Wikinte
Name[hu]=Wikinte
Name[ia]=Wikinte
Name[id]=Wikinte
Name[it]=Wikinte
Name[ja]=Wikinte
Name[nl]=Wikinte
Name[nn]=Wikinte
Name[pl]=Wikinte
Name[pt_BR]=Wikinte
Name[ro]=Wikinte
Name[ru]=Wikinte
Name[sk]=Wikinte
Name[sl]=Wikinte
Name[sv]=Wikinte
Name[tr]=Wikinte
Name[uk]=Wikinte
Name[zh_CN]=Wikinte

X-KDE-PluginInfo-Name=Ivee
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
