[Desktop Entry]
Name=Gemba
Name[bg]=Gemba
Name[ca]=Gemba
Name[ca@valencia]=Gemba
Name[cs]=Gemba
Name[da]=Gemba
Name[de]=Gemba
Name[en_GB]=Gemba
Name[es]=Gemba
Name[eu]=Gemba
Name[fi]=Gemba
Name[fr]=Gemba
Name[hu]=Gemba
Name[ia]=Gemba
Name[id]=Gemba
Name[it]=Gemba
Name[ja]=Gemba
Name[nl]=Gemba
Name[nn]=Gemba
Name[pl]=Gemba
Name[pt_BR]=Gemba
Name[ro]=Gemba
Name[ru]=Gemba
Name[sk]=Gemba
Name[sl]=Gemba
Name[sv]=Gemba
Name[tr]=Gemba
Name[uk]=Gemba
Name[zh_CN]=Gemba

X-KDE-PluginInfo-Name=Ivee
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
