[Desktop Entry]
Name=Meebo
Name[bg]=Meebo
Name[ca]=Meebo
Name[ca@valencia]=Meebo
Name[cs]=Meebo
Name[da]=Meebo
Name[de]=Meebo
Name[en_GB]=Meebo
Name[es]=Meebo
Name[eu]=Meebo
Name[fi]=Meebo
Name[fr]=Meebo
Name[hu]=Meebo
Name[ia]=Meebo
Name[id]=Meebo
Name[it]=Meebo
Name[ja]=Meebo
Name[nl]=Meebo
Name[nn]=Meebo
Name[pl]=Meebo
Name[pt_BR]=Meebo
Name[ro]=Meebo
Name[ru]=Meebo
Name[sk]=Meebo
Name[sl]=Meebo
Name[sv]=Meebo
Name[tr]=Meebo
Name[uk]=Meebo
Name[zh_CN]=Meebo

X-KDE-PluginInfo-Name=Mimbu
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
