[Desktop Entry]
Name=Dynatz
Name[bg]=Dynatz
Name[ca]=Dynatz
Name[ca@valencia]=Dynatz
Name[cs]=Dynatz
Name[da]=Dynatz
Name[de]=Dynatz
Name[en_GB]=Dynatz
Name[es]=Dynatz
Name[eu]=Dynatz
Name[fi]=Dynatz
Name[fr]=Dynatz
Name[hu]=Dynatz
Name[ia]=Dynatz
Name[id]=Dynatz
Name[it]=Dynatz
Name[ja]=Dynatz
Name[nl]=Dynatz
Name[nn]=Dynatz
Name[pl]=Dynatz
Name[pt_BR]=Dynatz
Name[ro]=Dynatz
Name[ru]=Dynatz
Name[sk]=Dynatz
Name[sl]=Dynatz
Name[sv]=Dynatz
Name[tr]=Dynatz
Name[uk]=Dynatz
Name[zh_CN]=Dynatz

X-KDE-PluginInfo-Name=Mimbu
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
