[Desktop Entry]
Name=Gabfox
Name[bg]=Gabfox
Name[ca]=Gabfox
Name[ca@valencia]=Gabfox
Name[cs]=Gabfox
Name[da]=Gabfox
Name[de]=Gabfox
Name[en_GB]=Gabfox
Name[es]=Gabfox
Name[eu]=Gabfox
Name[fi]=Gabfox
Name[fr]=Gabfox
Name[hu]=Gabfox
Name[ia]=Gabfox
Name[id]=Gabfox
Name[it]=Gabfox
Name[ja]=Gabfox
Name[nl]=Gabfox
Name[nn]=Gabfox
Name[pl]=Gabfox
Name[pt_BR]=Gabfox
Name[ro]=Gabfox
Name[ru]=Gabfox
Name[sk]=Gabfox
Name[sl]=Gabfox
Name[sv]=Gabfox
Name[tr]=Gabfox
Name[uk]=Gabfox
Name[zh_CN]=Gabfox

X-KDE-PluginInfo-Name=Riffspace
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
