[Desktop Entry]
Name=Twinu
Name[bg]=Twinu
Name[ca]=Twinu
Name[ca@valencia]=Twinu
Name[cs]=Twinu
Name[da]=Twinu
Name[de]=Twinu
Name[en_GB]=Twinu
Name[es]=Twinu
Name[eu]=Twinu
Name[fi]=Twinu
Name[fr]=Twinu
Name[hu]=Twinu
Name[ia]=Twinu
Name[id]=Twinu
Name[it]=Twinu
Name[ja]=Twinu
Name[nl]=Twinu
Name[nn]=Twinu
Name[pl]=Twinu
Name[pt_BR]=Twinu
Name[ro]=Twinu
Name[ru]=Twinu
Name[sk]=Twinu
Name[sl]=Twinu
Name[sv]=Twinu
Name[tr]=Twinu
Name[uk]=Twinu
Name[zh_CN]=Twinu

X-KDE-PluginInfo-Name=Riffspace
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
