[Desktop Entry]
Name=Zaci
Name[bg]=Zaci
Name[ca]=Zaci
Name[ca@valencia]=Zaci
Name[cs]=Zaci
Name[da]=Zaci
Name[de]=Zaci
Name[en_GB]=Zaci
Name[es]=Zaci
Name[eu]=Zaci
Name[fi]=Zaci
Name[fr]=Zaci
Name[hu]=Zaci
Name[ia]=Zaci
Name[id]=Zaci
Name[it]=Zaci
Name[ja]=Zaci
Name[nl]=Zaci
Name[nn]=Zaci
Name[pl]=Zaci
Name[pt_BR]=Zaci
Name[ro]=Zaci
Name[ru]=Zaci
Name[sk]=Zaci
Name[sl]=Zaci
Name[sv]=Zaci
Name[tr]=Zaci
Name[uk]=Zaci
Name[zh_CN]=Zaci

X-KDE-PluginInfo-Name=Edgetube
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
