[Desktop Entry]
Name=Roozio
Name[bg]=Roozio
Name[ca]=Roozio
Name[ca@valencia]=Roozio
Name[cs]=Roozio
Name[da]=Roozio
Name[de]=Roozio
Name[en_GB]=Roozio
Name[es]=Roozio
Name[eu]=Roozio
Name[fi]=Roozio
Name[fr]=Roozio
Name[hu]=Roozio
Name[ia]=Roozio
Name[id]=Roozio
Name[it]=Roozio
Name[ja]=Roozio
Name[nl]=Roozio
Name[nn]=Roozio
Name[pl]=Roozio
Name[pt_BR]=Roozio
Name[ro]=Roozio
Name[ru]=Roozio
Name[sk]=Roozio
Name[sl]=Roozio
Name[sv]=Roozio
Name[tr]=Roozio
Name[uk]=Roozio
Name[zh_CN]=Roozio

X-KDE-PluginInfo-Name=Edgetube
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
