[Desktop Entry]
Name=CircleBox
Name[bg]=CircleBox
Name[ca]=CircleBox
Name[ca@valencia]=CircleBox
Name[cs]=CircleBox
Name[da]=CircleBox
Name[de]=CircleBox
Name[en_GB]=CircleBox
Name[es]=CircleBox
Name[eu]=CircleBox
Name[fi]=CircleBox
Name[fr]=CircleBox
Name[hu]=CircleBox
Name[ia]=CircleBox
Name[id]=CircleBox
Name[it]=CircleBox
Name[ja]=CircleBox
Name[nl]=CircleBox
Name[nn]=CircleBox
Name[pl]=CircleBox
Name[pt_BR]=CircleBox
Name[ro]=CircleBox
Name[ru]=CircleBox
Name[sk]=CircleBox
Name[sl]=CircleBox
Name[sv]=CircleBox
Name[tr]=CircleBox
Name[uk]=CircleBox
Name[zh_CN]=CircleBox

X-KDE-PluginInfo-Name=Xioma
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
