[Desktop Entry]
Name=Jata
Name[bg]=Jata
Name[ca]=Jata
Name[ca@valencia]=Jata
Name[cs]=Jata
Name[da]=Jata
Name[de]=Jata
Name[en_GB]=Jata
Name[es]=Jata
Name[eu]=Jata
Name[fi]=Jata
Name[fr]=Jata
Name[hu]=Jata
Name[ia]=Jata
Name[id]=Jata
Name[it]=Jata
Name[ja]=Jata
Name[nl]=Jata
Name[nn]=Jata
Name[pl]=Jata
Name[pt_BR]=Jata
Name[ro]=Jata
Name[ru]=Jata
Name[sk]=Jata
Name[sl]=Jata
Name[sv]=Jata
Name[tr]=Jata
Name[uk]=Jata
Name[zh_CN]=Jata

X-KDE-PluginInfo-Name=Xioma
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
