[Desktop Entry]
Name=Trimbo
Name[bg]=Trimbo
Name[ca]=Trimbo
Name[ca@valencia]=Trimbo
Name[cs]=Trimbo
Name[da]=Trimbo
Name[de]=Trimbo
Name[en_GB]=Trimbo
Name[es]=Trimbo
Name[eu]=Trimbo
Name[fi]=Trimbo
Name[fr]=Trimbo
Name[hu]=Trimbo
Name[ia]=Trimbo
Name[id]=Trimbo
Name[it]=Trimbo
Name[ja]=Trimbo
Name[nl]=Trimbo
Name[nn]=Trimbo
Name[pl]=Trimbo
Name[pt_BR]=Trimbo
Name[ro]=Trimbo
Name[ru]=Trimbo
Name[sk]=Trimbo
Name[sl]=Trimbo
Name[sv]=Trimbo
Name[tr]=Trimbo
Name[uk]=Trimbo
Name[zh_CN]=Trimbo

X-KDE-PluginInfo-Name=Xioma
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
