[SddmGreeterTheme]
Name=SnoopGod
Description=SnoopGod login screen
Author=snoopgod
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Website=https://snoopgod.com
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=SnoopGod
Theme-API=2.11
