[Desktop Entry]
Name=Drumoost
Name[bg]=Drumoost
Name[ca]=Drumoost
Name[ca@valencia]=Drumoost
Name[cs]=Drumoost
Name[da]=Drumoost
Name[de]=Drumoost
Name[en_GB]=Drumoost
Name[es]=Drumoost
Name[eu]=Drumoost
Name[fi]=Drumoost
Name[fr]=Drumoost
Name[hu]=Drumoost
Name[ia]=Drumoost
Name[id]=Drumoost
Name[it]=Drumoost
Name[ja]=Drumoost
Name[nl]=Drumoost
Name[nn]=Drumoost
Name[pl]=Drumoost
Name[pt_BR]=Drumoost
Name[ro]=Drumoost
Name[ru]=Drumoost
Name[sk]=Drumoost
Name[sl]=Drumoost
Name[sv]=Drumoost
Name[tr]=Drumoost
Name[uk]=Drumoost
Name[zh_CN]=Drumoost

X-KDE-PluginInfo-Name=Skwab
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
