[Desktop Entry]
Name=Wordkey
Name[bg]=Wordkey
Name[ca]=Wordkey
Name[ca@valencia]=Wordkey
Name[cs]=Wordkey
Name[da]=Wordkey
Name[de]=Wordkey
Name[en_GB]=Wordkey
Name[es]=Wordkey
Name[eu]=Wordkey
Name[fi]=Wordkey
Name[fr]=Wordkey
Name[hu]=Wordkey
Name[ia]=Wordkey
Name[id]=Wordkey
Name[it]=Wordkey
Name[ja]=Wordkey
Name[nl]=Wordkey
Name[nn]=Wordkey
Name[pl]=Wordkey
Name[pt_BR]=Wordkey
Name[ro]=Wordkey
Name[ru]=Wordkey
Name[sk]=Wordkey
Name[sl]=Wordkey
Name[sv]=Wordkey
Name[tr]=Wordkey
Name[uk]=Wordkey
Name[zh_CN]=Wordkey

X-KDE-PluginInfo-Name=Skwab
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
