[Desktop Entry]
Name=Fliptab
Name[bg]=Fliptab
Name[ca]=Fliptab
Name[ca@valencia]=Fliptab
Name[cs]=Fliptab
Name[da]=Fliptab
Name[de]=Fliptab
Name[en_GB]=Fliptab
Name[es]=Fliptab
Name[eu]=Fliptab
Name[fi]=Fliptab
Name[fr]=Fliptab
Name[hu]=Fliptab
Name[ia]=Fliptab
Name[id]=Fliptab
Name[it]=Fliptab
Name[ja]=Fliptab
Name[nl]=Fliptab
Name[nn]=Fliptab
Name[pl]=Fliptab
Name[pt_BR]=Fliptab
Name[ro]=Fliptab
Name[ru]=Fliptab
Name[sk]=Fliptab
Name[sl]=Fliptab
Name[sv]=Fliptab
Name[tr]=Fliptab
Name[uk]=Fliptab
Name[zh_CN]=Fliptab

X-KDE-PluginInfo-Name=Skwab
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
