[Desktop Entry]
Name=Cubeo
Name[bg]=Cubeo
Name[ca]=Cubeo
Name[ca@valencia]=Cubeo
Name[cs]=Cubeo
Name[da]=Cubeo
Name[de]=Cubeo
Name[en_GB]=Cubeo
Name[es]=Cubeo
Name[eu]=Cubeo
Name[fi]=Cubeo
Name[fr]=Cubeo
Name[hu]=Cubeo
Name[ia]=Cubeo
Name[id]=Cubeo
Name[it]=Cubeo
Name[ja]=Cubeo
Name[nl]=Cubeo
Name[nn]=Cubeo
Name[pl]=Cubeo
Name[pt_BR]=Cubeo
Name[ro]=Cubeo
Name[ru]=Cubeo
Name[sk]=Cubeo
Name[sl]=Cubeo
Name[sv]=Cubeo
Name[tr]=Cubeo
Name[uk]=Cubeo
Name[zh_CN]=Cubeo

X-KDE-PluginInfo-Name=Muagn
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
