[Desktop Entry]
Name=Wayspan
Name[bg]=Wayspan
Name[ca]=Wayspan
Name[ca@valencia]=Wayspan
Name[cs]=Wayspan
Name[da]=Wayspan
Name[de]=Wayspan
Name[en_GB]=Wayspan
Name[es]=Wayspan
Name[eu]=Wayspan
Name[fi]=Wayspan
Name[fr]=Wayspan
Name[hu]=Wayspan
Name[ia]=Wayspan
Name[id]=Wayspan
Name[it]=Wayspan
Name[ja]=Wayspan
Name[nl]=Wayspan
Name[nn]=Wayspan
Name[pl]=Wayspan
Name[pt_BR]=Wayspan
Name[ro]=Wayspan
Name[ru]=Wayspan
Name[sk]=Wayspan
Name[sl]=Wayspan
Name[sv]=Wayspan
Name[tr]=Wayspan
Name[uk]=Wayspan
Name[zh_CN]=Wayspan

X-KDE-PluginInfo-Name=Muagn
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
