[Desktop Entry]
Name=Babblecube
Name[bg]=Babblecube
Name[ca]=Babblecube
Name[ca@valencia]=Babblecube
Name[cs]=Babblecube
Name[da]=Babblecube
Name[de]=Babblecube
Name[en_GB]=Babblecube
Name[es]=Babblecube
Name[eu]=Babblecube
Name[fi]=Babblecube
Name[fr]=Babblecube
Name[hu]=Babblecube
Name[ia]=Babblecube
Name[id]=Babblecube
Name[it]=Babblecube
Name[ja]=Babblecube
Name[nl]=Babblecube
Name[nn]=Babblecube
Name[pl]=Babblecube
Name[pt_BR]=Babblecube
Name[ro]=Babblecube
Name[ru]=Babblecube
Name[sk]=Babblecube
Name[sl]=Babblecube
Name[sv]=Babblecube
Name[tr]=Babblecube
Name[uk]=Babblecube
Name[zh_CN]=Babblecube

X-KDE-PluginInfo-Name=Muagn
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
