[Desktop Entry]
Name=HotSamba
Name[bg]=HotSamba
Name[ca]=HotSamba
Name[ca@valencia]=HotSamba
Name[cs]=HotSamba
Name[da]=HotSamba
Name[de]=HotSamba
Name[en_GB]=HotSamba
Name[es]=HotSamba
Name[eu]=HotSamba
Name[fi]=HotSamba
Name[fr]=HotSamba
Name[hu]=HotSamba
Name[ia]=HotSamba
Name[id]=HotSamba
Name[it]=HotSamba
Name[ja]=HotSamba
Name[nl]=HotSamba
Name[nn]=HotSamba
Name[pl]=HotSamba
Name[pt_BR]=HotSamba
Name[ro]=HotSamba
Name[ru]=HotSamba
Name[sk]=HotSamba
Name[sl]=HotSamba
Name[sv]=HotSamba
Name[tr]=HotSamba
Name[uk]=HotSamba
Name[zh_CN]=HotSamba

X-KDE-PluginInfo-Name=Ruemos
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
