[Desktop Entry]
Name=Zoodel
Name[bg]=Zoodel
Name[ca]=Zoodel
Name[ca@valencia]=Zoodel
Name[cs]=Zoodel
Name[da]=Zoodel
Name[de]=Zoodel
Name[en_GB]=Zoodel
Name[es]=Zoodel
Name[eu]=Zoodel
Name[fi]=Zoodel
Name[fr]=Zoodel
Name[hu]=Zoodel
Name[ia]=Zoodel
Name[id]=Zoodel
Name[it]=Zoodel
Name[ja]=Zoodel
Name[nl]=Zoodel
Name[nn]=Zoodel
Name[pl]=Zoodel
Name[pt_BR]=Zoodel
Name[ro]=Zoodel
Name[ru]=Zoodel
Name[sk]=Zoodel
Name[sl]=Zoodel
Name[sv]=Zoodel
Name[tr]=Zoodel
Name[uk]=Zoodel
Name[zh_CN]=Zoodel

X-KDE-PluginInfo-Name=Ruemos
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
