[Desktop Entry]
Name=Eaji
Name[bg]=Eaji
Name[ca]=Eaji
Name[ca@valencia]=Eaji
Name[cs]=Eaji
Name[da]=Eaji
Name[de]=Eaji
Name[en_GB]=Eaji
Name[es]=Eaji
Name[eu]=Eaji
Name[fi]=Eaji
Name[fr]=Eaji
Name[hu]=Eaji
Name[ia]=Eaji
Name[id]=Eaji
Name[it]=Eaji
Name[ja]=Eaji
Name[nl]=Eaji
Name[nn]=Eaji
Name[pl]=Eaji
Name[pt_BR]=Eaji
Name[ro]=Eaji
Name[ru]=Eaji
Name[sk]=Eaji
Name[sl]=Eaji
Name[sv]=Eaji
Name[tr]=Eaji
Name[uk]=Eaji
Name[zh_CN]=Eaji

X-KDE-PluginInfo-Name=Ruemos
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
