[Desktop Entry]
Name=Zootz
Name[bg]=Zootz
Name[ca]=Zootz
Name[ca@valencia]=Zootz
Name[cs]=Zootz
Name[da]=Zootz
Name[de]=Zootz
Name[en_GB]=Zootz
Name[es]=Zootz
Name[eu]=Zootz
Name[fi]=Zootz
Name[fr]=Zootz
Name[hu]=Zootz
Name[ia]=Zootz
Name[id]=Zootz
Name[it]=Zootz
Name[ja]=Zootz
Name[nl]=Zootz
Name[nn]=Zootz
Name[pl]=Zootz
Name[pt_BR]=Zootz
Name[ro]=Zootz
Name[ru]=Zootz
Name[sk]=Zootz
Name[sl]=Zootz
Name[sv]=Zootz
Name[tr]=Zootz
Name[uk]=Zootz
Name[zh_CN]=Zootz

X-KDE-PluginInfo-Name=Tekverse
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
