[Desktop Entry]
Name=Snapspan
Name[bg]=Snapspan
Name[ca]=Snapspan
Name[ca@valencia]=Snapspan
Name[cs]=Snapspan
Name[da]=Snapspan
Name[de]=Snapspan
Name[en_GB]=Snapspan
Name[es]=Snapspan
Name[eu]=Snapspan
Name[fi]=Snapspan
Name[fr]=Snapspan
Name[hu]=Snapspan
Name[ia]=Snapspan
Name[id]=Snapspan
Name[it]=Snapspan
Name[ja]=Snapspan
Name[nl]=Snapspan
Name[nn]=Snapspan
Name[pl]=Snapspan
Name[pt_BR]=Snapspan
Name[ro]=Snapspan
Name[ru]=Snapspan
Name[sk]=Snapspan
Name[sl]=Snapspan
Name[sv]=Snapspan
Name[tr]=Snapspan
Name[uk]=Snapspan
Name[zh_CN]=Snapspan

X-KDE-PluginInfo-Name=Tekverse
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
