[Desktop Entry]
Name=Pixobler
Name[bg]=Pixobler
Name[ca]=Pixobler
Name[ca@valencia]=Pixobler
Name[cs]=Pixobler
Name[da]=Pixobler
Name[de]=Pixobler
Name[en_GB]=Pixobler
Name[es]=Pixobler
Name[eu]=Pixobler
Name[fi]=Pixobler
Name[fr]=Pixobler
Name[hu]=Pixobler
Name[ia]=Pixobler
Name[id]=Pixobler
Name[it]=Pixobler
Name[ja]=Pixobler
Name[nl]=Pixobler
Name[nn]=Pixobler
Name[pl]=Pixobler
Name[pt_BR]=Pixobler
Name[ro]=Pixobler
Name[ru]=Pixobler
Name[sk]=Pixobler
Name[sl]=Pixobler
Name[sv]=Pixobler
Name[tr]=Pixobler
Name[uk]=Pixobler
Name[zh_CN]=Pixobler

X-KDE-PluginInfo-Name=Yakiyo
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
