[Desktop Entry]
Name=Yakiyo
Name[bg]=Yakiyo
Name[ca]=Yakiyo
Name[ca@valencia]=Yakiyo
Name[cs]=Yakiyo
Name[da]=Yakiyo
Name[de]=Yakiyo
Name[en_GB]=Yakiyo
Name[es]=Yakiyo
Name[eu]=Yakiyo
Name[fi]=Yakiyo
Name[fr]=Yakiyo
Name[hu]=Yakiyo
Name[ia]=Yakiyo
Name[id]=Yakiyo
Name[it]=Yakiyo
Name[ja]=Yakiyo
Name[nl]=Yakiyo
Name[nn]=Yakiyo
Name[pl]=Yakiyo
Name[pt_BR]=Yakiyo
Name[ro]=Yakiyo
Name[ru]=Yakiyo
Name[sk]=Yakiyo
Name[sl]=Yakiyo
Name[sv]=Yakiyo
Name[tr]=Yakiyo
Name[uk]=Yakiyo
Name[zh_CN]=Yakiyo

X-KDE-PluginInfo-Name=Yakiyo
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
