[Desktop Entry]
Name=Zape
Name[bg]=Zape
Name[ca]=Zape
Name[ca@valencia]=Zape
Name[cs]=Zape
Name[da]=Zape
Name[de]=Zape
Name[en_GB]=Zape
Name[es]=Zape
Name[eu]=Zape
Name[fi]=Zape
Name[fr]=Zape
Name[hu]=Zape
Name[ia]=Zape
Name[id]=Zape
Name[it]=Zape
Name[ja]=Zape
Name[nl]=Zape
Name[nn]=Zape
Name[pl]=Zape
Name[pt_BR]=Zape
Name[ro]=Zape
Name[ru]=Zape
Name[sk]=Zape
Name[sl]=Zape
Name[sv]=Zape
Name[tr]=Zape
Name[uk]=Zape
Name[zh_CN]=Zape

X-KDE-PluginInfo-Name=Yakiyo
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
