[Desktop Entry]
Name=Yabo
Name[bg]=Yabo
Name[ca]=Yabo
Name[ca@valencia]=Yabo
Name[cs]=Yabo
Name[da]=Yabo
Name[de]=Yabo
Name[en_GB]=Yabo
Name[es]=Yabo
Name[eu]=Yabo
Name[fi]=Yabo
Name[fr]=Yabo
Name[hu]=Yabo
Name[ia]=Yabo
Name[id]=Yabo
Name[it]=Yabo
Name[ja]=Yabo
Name[nl]=Yabo
Name[nn]=Yabo
Name[pl]=Yabo
Name[pt_BR]=Yabo
Name[ro]=Yabo
Name[ru]=Yabo
Name[sk]=Yabo
Name[sl]=Yabo
Name[sv]=Yabo
Name[tr]=Yabo
Name[uk]=Yabo
Name[zh_CN]=Yabo

X-KDE-PluginInfo-Name=Kwivee
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
