[Desktop Entry]
Name=Bluetune
Name[bg]=Bluetune
Name[ca]=Bluetune
Name[ca@valencia]=Bluetune
Name[cs]=Bluetune
Name[da]=Bluetune
Name[de]=Bluetune
Name[en_GB]=Bluetune
Name[es]=Bluetune
Name[eu]=Bluetune
Name[fi]=Bluetune
Name[fr]=Bluetune
Name[hu]=Bluetune
Name[ia]=Bluetune
Name[id]=Bluetune
Name[it]=Bluetune
Name[ja]=Bluetune
Name[nl]=Bluetune
Name[nn]=Bluetune
Name[pl]=Bluetune
Name[pt_BR]=Bluetune
Name[ro]=Bluetune
Name[ru]=Bluetune
Name[sk]=Bluetune
Name[sl]=Bluetune
Name[sv]=Bluetune
Name[tr]=Bluetune
Name[uk]=Bluetune
Name[zh_CN]=Bluetune

X-KDE-PluginInfo-Name=Kwivee
X-KDE-PluginInfo-Author=NeosLab
X-KDE-PluginInfo-Email=NeosLab SAS <info@neoslab.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
